body {
    padding:0px;
    margin:0px;
}
h4, h3, h2, p {
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    font-size: 50px;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    color:azure;
    text-decoration:none;
}
.content{
    display:flex;
}
.content-left{
    padding:5px 10px;
}
.content-right {
    padding: 5px 0px;
}
.content-right h4 {
    margin-top:5px;
}
.vax{
    border: 5px solid red;
}